<section class="bloques">
    <div class="bloques__grid ">
        <div class="bloque v1">
            <div class="bloque__contenido">
                
                <h2 class="bloque__heading">20 Años de Experiencia</h2>
                <p class="bloque__texto">Nos respaldan, siempre ofertando los mejores cursos para principiantes y expertos</p>
            </div>
        </div>
        <div class="bloque v2">
            <div class="bloque__contenido">
               
            </div>
        </div>
        <div class="bloque v3">
            <div class="bloque__contenido">
                
            </div>
        </div>
        <div class="bloque v4">
            <div class="bloque__contenido">
                <h2 class="bloque__heading">Sobre Nosotros</h2>
                <p class="bloque__texto">Un grupo de expertos, integrado por chefs de los mejores restaurantes de la ciudad</p>
            </div>
        </div>
    </div>
</section>