<section class="nosotros">
    <h2 class="nosotros__heading">¿Porque estudiar con nosotros?</h2>
    <div class="nosotros__grid contenedor">
        <div class="icono">
            <img class="icono__img" alt="iconi-img" src="../../../../assets/img/icono_chef.png">
            <h3 class="icono__heading">Chefs Especialistas</h3>
            <p class="icono__texto">Los mejores chef’s que han trabajado en los mejores restaurants de Europa.</p>
        </div>

        <div class="icono">
            <img class="icono__img" alt="iconi-img" src="../../../../assets/img/icono_vino.png">
            <h3 class="icono__heading">Incluye todo sobre Bebidas</h3>
            <p class="icono__texto">Además de la cocina, incluimos en el programa todo lo relacionado a bebidas.</p>
        </div>

        <div class="icono">
            <img class="icono__img" alt="iconi-img" src="../../../../assets/img/icono_menu.png">
            <h3 class="icono__heading">Siempre Actualizado</h3>
            <p class="icono__texto">El Programa se actualiza constamemente con nuevos platillos y técnicas.</p>
        </div>
    </div>
</section>